<ion-side-menus>

	<!-- Side Menu -->

	      
	<ion-side-menu expose-aside-when="large">
		<ion-nav-bar class="bar-positive" animation="no-animation">
		</ion-nav-bar>
		<ion-nav-view name="side-view" animation="no-animation" ></ion-nav-view>
	</ion-side-menu>


	<!-- Main Content -->
	<ion-pane ion-side-menu-content>
	<button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
		<ion-nav-view name="content-view"></ion-nav-view>
	</ion-pane>
</ion-side-menus>