<ion-view title="Pharmaceutical" >

	<ion-content has-header="true">
		<ion-list>
		<div class="item item-divider"> 
          Manage Pharmacetical Value
        </div>
			<ion-item href="#/base/substance/menu" item-icon-left nav-clear >
			<i class="icon ion-beaker"></i>
				Substance
			</ion-item>
			<ion-item href="#/base/excipient/menu" item-icon-left nav-clear>
			<i class="icon ion-flask"></i>
				Excipient
			</ion-item>
			<ion-item item-icon-left nav-clear ui-sref="base.formulationContent">
			<i class="icon ion-aperture"></i>
				Formulation
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>