<ion-view>
    <ion-content>
        <ion-list>
            <div class="item item-divider">
                Manage Pharmacetical Value
            </div>
            <ion-item ng-click="goSubstance()" item-icon-left nav-clear>
                <i class="icon ion-beaker"></i>
                Substance
            </ion-item>
            <ion-item ng-click="goExcipient()" item-icon-left nav-clear>
                <i class="icon ion-flask"></i>
                Excipient
            </ion-item>
            <ion-item ng-click="goFormulation()" item-icon-left nav-clear>
                <i class="icon ion-aperture"></i>
                Formulation
            </ion-item>


            <div class="item item-divider">
                Drug Reformulation Analysis
            </div>
            <ion-item ng-click="goReFormulation()" item-icon-left nav-clear>
                <i class="icon ion-beaker"></i>
                Drug Reformulation
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
