<ion-view title="Substance Menu">
	<ion-nav-buttons side="left">
		<button class="button button-clear" ui-sref="base.content">Back</button>

	</ion-nav-buttons>

	<ion-content has-header="true">
		<ion-list>
			<ion-item nav-clear ui-sref="base.addSubstance">
				Add Substance
			</ion-item>
			<ion-item nav-clear ui-sref="base.subMenu">
				Update Substance
			</ion-item>
			<ion-item nav-clear ui-sref="base.subMenu">
				Delete Substance
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>