
<ion-view title="User login" class = "padding">
    <ion-content has-header="true" has-tabs="true" padding="true">
      
        <div class="list list-inset">
        <form name = "login-form" ng-submit="login()" role ="form">
            <label class="item item-input">
              
                <span class="input-label">Email : </span>
                <input type="email" name ="setEmail" ng-model="loginUser.email" required>
                <p class="badge badge-assertive" ng-show="login-form.setEmail.$error.required">
                  Required!</p>
                <p class="badge badge-assertive" ng-show="login-form.setEmail.$error.email">
                  Your email is wrong format</p>
            </label>
            <label class="item item-input">
                <span class="input-label">Password : </span>
                <input type="password" name = "setPassword" ng-model="loginUser.password" required>
                <p class="badge badge-assertive" ng-show="login-form.setPassword.$error.required">
                Required!</p>
            </label>
        <div class="padding">
            <button ng-disabled="substanceadding.$invalid" class="button button-block button-assertive">
                Sign In
            </button>
        </div>
      </form>
      <button class="button button-block button-positive" ng-click="openModal(1)">
                Create Account
        </button>
      </div>
    </ion-content>
</ion-view>

<!--Registration, I put it here because it can load -->
<script id="registrationModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
   <h1 class="title">Registration</h1>
        <button class="button  button-icon icon ion-close-round" ng-click="hideModal(1)"></button>
  </ion-header-bar>

  <ion-content>
<div class="list">
 
  <label class="item item-input">
                <span class="input-label">Email :</span>
                <input type="text" placeholder="newnok6@gmail.com" ng-model="user.email">
  </label>
  <label class="item item-input">
                <span class="input-label">Password :</span>
                <input type="password" ng-model="user.password">
  </label>

  <label class="item item-input">
                <span class="input-label">Re-Type Password :</span>
                <input type="password">
  </label>
            <button class="button button-block button-positive" ng-click="createAccount()">Sign Up</button>
           </div>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->
