<ion-view title="Member Account Detail">
    <ion-content>

        <div class="list card">
            <a class="item">
                <h2>Email :</h2>
                <p>makky@gmail.com</p>
            </a>

            <a class="item">
                <h2>Autherzied Stutas :</h2>
                <p>General Pharmacists</p>
            </a>
                <button class="button button-block button-balanced" ng-click="openModal(2)">
                        Change the autherized status
                </button>

                <button class="button button-block button-assertive" ng-click="showConfirmTodelete()">
                        Delete this user
                </button>
    </ion-content>
</ion-view>
