<ion-view title="Select Formulation">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click ="goBack()">
            Select Formulation
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <ion-item ng-click="setUnitOperation(0)">
                Direct Compression
            </ion-item>
            <ion-item ng-click="setUnitOperation(1)">
                Dry Granulation
            </ion-item>
            <ion-item ng-click="setUnitOperation(2)">
                Wet Granulation
            </ion-item>
        </div>
    </ion-content>
</ion-view>