<ion-view title="Select Formulation">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click ="cancel()">
            Cancel
        </button>
    </ion-nav-buttons>
     <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchFormulation">
        </label>
        <button ng-click="clearfilter()" class="button button-clear icon ion-close-circled" ></button>
    </ion-header-bar>
    <ion-content>
            <ion-radio ng-repeat=" formulation in formulations  | filter:searchFormulation" ui-sref="base.excipientContent.addExcipient" ng-value="formulation" ng-model="currentProduction.formulation">
                <div ng-show="formulations.length == 0">
                    There are no the substance in the database. Please create a new substance.
                </div>
                <div ng-show="formulations.length > 0">
                    {{formulation.name}}
                </div>
            </ion-radio>


        </div>
    </ion-content>
</ion-view>
