<ion-view title="Reformulation Result">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left" ng-click="back()">
            Setting
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-more" ng-click="openPopover($event)">
        </button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader item-input-inset">
        <div class=" button-bar">
            <button class="button button-light button-ios" ng-class="{ 'button\-positive': resultSection == 'ruleBase' }" ng-click="setReformulateResult('ruleBase')">
                Rule Base
            </button>
            <button class="button button-light button-ios" ng-class="{ 'button\-positive': resultSection == 'caseBase' }" ng-click="setReformulateResult('caseBase')">
                Case Base Reasoning
            </button>
            <button class="button button-light button-ios" ng-class="{ 'button\-positive': resultSection == 'hybrid' }" ng-click="setReformulateResult('hybrid')">
                Hybrid Reasoning
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">

            <div class="padding-buttom">
                <div class="item item-divider">
                    Formulation
                </div>
                <div class="item">
                    Formulation Name : {{currentReformulatedProduction.production.formulationName}}
                </div>

                <div class="item">
                    Weight : {{currentReformulatedProduction.production.formulationWeight}}
                </div>
            </div>
            <div class="padding-top">
                <div class="item item-divider">
                    Instarction
                </div>
                <textarea readonly class="item" rows="7" cols="50">
                    {{currentReformulatedProduction.production.instraction}}
                </textarea>
            </div>
        </div>
    </ion-content>
</ion-view>
