<ion-view title="Drug Reformulation Setting">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="cancel()">
            Cancel
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form name = "reformulationSetting" ng-submit="startReformulation()">

            <ion-list list-inset>
                <div class="item item-divider">
                    Active Ingredient
                </div>
                <div class="item">
                    Active Ingredient Name :
                     <p class="padding-top"> 
                    {{substance.name}}
                    </p>
                </div>
                <!-- Formulation Weight -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Amount of Strenght (mg.) :</span>
                    <input type="text" placeholder="500.00" ng-model="inferenceProduction.amountOfStength" />
                </label>

                <style>
                .padding-top {
                    padding-top: 25px;
                }
                </style>

                <!--active ingredient setting -->
                <div class="padding-top">

                <div class="item item-divider">
                        Active Ingredient Properties
                    </div>

                    <!-- Add Water Solubility -->
                    <a class="item " ng-click="openModal(1)">
                         Water Solubility :
                        <p class="padding-top">
                            {{substance.waterSolubility}}
                        </p>
                    </a>
                    <!---->

                    <!-- Add the Flowability -->
                    <a class="item " ng-click="openModal(2)">
                        Flow Ability :
                        <p class="padding-top">
                            {{substance.flowability}}
                        </p>
                    </a>

                    <!-- Add the Solid State -->
                    <a class="item " required ng-click="openModal(3)">
                        Solid State :
                        <p class="padding-top" name = "solidstate" >
                            {{substance.solidState}}
                        </p>
                    </a>

                    <!-- Add the Hygroscopicity -->
                    <a class="item " ng-click="openModal(4)">
                         Hygroscopicity :
                            <p class="padding-top">
                                {{substance.hygroscopicity}}
                            </p>
                    </a>

                    <!-- Add the Partticle Size -->
                    <a class="item " ng-click="openModal(5)">
                        Particle Size :
                            <p class="padding-top">
                                {{substance.particleSize}}
                            </p>
                    </a>

                    <!-- Add the ALcohol Solubility -->
                    <a class="item " ng-click="openModal(6)">
                        Alcohol Solubility :
                            <p class="padding-top">
                                {{substance.alcoholSolubility}}
                            </p>
                     </a>

                    <!-- Add the Salt Form -->
                    <!-- <a class="item " ng-click="openModal(7)">
                        Salt Form :
                            <p class="padding-top">
                                {{substance.saltForm}}
                            </p>
                    </a> -->

                    <!-- Add the pka -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">pKa Value :</span>
                        <input name="pKa" type="text" placeholder="2.34" ng-model="substance.pka" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" >
                        <span class="badge badge-assertive" ng-show="reformulationSetting.pKa.$error.required">
                            Required!</span>
                        <span class="badge badge-assertive" ng-show="reformulationSetting.pKa.$error.pattern">
                            Number Only!</span>
                    </label>

                    <!-- Add the Partition Coeffifient -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Partition Coefficient Value :</span>
                        <input name="partitionCoefficaient" type="text" placeholder="6.00" ng-model="substance.partitionCoefficient" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" >
                        <span class="badge badge-assertive" ng-show="reformulationSetting.partitionCoefficaient.$error.required">
                            Required!</span>
                        <span class="badge badge-assertive" ng-show="reformulationSetting.partitionCoefficaient.$error.pattern">
                            Number Only!</span>
                    </label>

                    <!-- Add the Density -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Density Value :</span>
                        <input name="density" type="text" placeholder="5.67" ng-model="substance.density" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" >
                        <span class="badge badge-assertive" ng-show="reformulationSetting.density.$error.required">
                            Required!</span>
                        <span class="badge badge-assertive" ng-show="reformulationSetting.density.$error.pattern">
                            Number Only!</span>
                    </label>

                    <!-- Add the Molecular Weight -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Molecular Weight Value :</span>
                        <input name="molecularWeight" type="text" placeholder="8.34" ng-model="substance.mocularWeight" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" >
                        <span class="badge badge-assertive" ng-show="reformulationSetting.molecularWeight.$error.required">
                            Required!</span>
                        <span class="badge badge-assertive" ng-show="reformulationSetting.molecularWeight.$error.pattern">
                            Number Only!</span>
                    </label>

                    <!-- Add the ionicity-->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">ionicity Type :</span>
                        <input name="ionicity" type="text" placeholder="Very Ionicity" ng-model="substance.ionicity" >
                        <span class="badge badge-assertive" ng-show="reformulationSetting.ionicity.$error.required">
                            Required!</span>
                    </label>

                </div>


              <!-- Original Dosage Form Properties Part -->
                <div class="padding-top">
                    <div class="item item-divider">
                        Original Dosage Form Properties
                    </div>
                    <!-- Add DF Property -->
                    <!-- Total Weight -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Total Weight (mg.) :</span>
                        <input type="text" placeholder="650.87" ng-model="inferenceProduction.totalWeight" />
                    </label>

                    <!-- Disintegration time -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Disintegration time (second) :</span>
                        <input type="text" placeholder="28" ng-model="inferenceProduction.disintegrationTime" />
                    </label>

                    <!-- Hardness-->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Friability (%) :</span>
                        <input type="text" placeholder="16.87" ng-model="inferenceProduction.friability" />
                    </label>


                    <!-- Dissolution Profile-->
                    <a class="item" ng-click="openDissolutionProfileSetting(8)">
                        Add the Dissolution Profile
                        <span class="item-note" ng-repeat="(key, value) in inferenceProduction.dissolutionProfile">
                            <div ng-show = "value.at5mins">
                                At 5 Mins : {{value.at5mins}} % ,
                            </div>
                             <div ng-show = "value.at10mins">
                                At 10 Mins : {{value.at10mins}} % ,
                                </div>
                                 <div ng-show = "value.at15mins">
                                 At 15 Mins : {{value.at15mins}} % ,
                                 </div>
                                  <div ng-show = "value.at20mins">
                                  At 20 Mins : {{value.at20mins}} % ,
                                  </div>
                                   <div ng-show = "value.at25mins">
                                   At 25 Mins : {{value.at25mins}} % ,
                                   </div>
                                    <div ng-show = "value.at30mins">
                                    At 30 Mins : {{value.at30mins}} %
                                    </div>
                        
                        </span>
                    </a>
                    <!---->
                </div>
                <!---->


                <!-- Case Base Reasoning Similarlity weighting -->
                 <div class="padding-top">
                    <div class="item item-divider">
                        Similarity Weighting (Case Base Reasoning)
                    </div>
                  
                   <!-- <div class="item range range-positive">
                        <span class="input-label">Active Ingredient Name:  </span>
                        <input type="range" name="volume" min="0" max="100" value="50" ng-model = "similarlityWeight.activeIngredientName">
                        <p> Weight : {{similarlityWeight.activeIngredientName}}</p>
                    </div> -->

                      <div class="item range range-positive">
                        <span class="input-label">Molecular Weight :</span>
                        <input type="range" name="volume" min="0" max="100" value="50" ng-model = "similarlityWeight.totalWeight">
                        <p>Weight : {{similarlityWeight.totalWeight}}</p>
                      </div>  
                    

                   
                      <div class="item range range-positive">
                        <span class="input-label">Disgradation Time :</span>
                        <input type="range" name="volume" min="0" max="100" value="50" ng-model = "similarlityWeight.distime">
                        <p>Weight : {{similarlityWeight.distime}}</p>
                      </div>
                  
                  </div>

                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Start Reformulation</button>
                </div>

            </ion-list>

        </form>

<!--Solubility Modal, I put it here because it can load -->
<script id="solubilityModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Water Solubility Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(1)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="solubility in solubilities" ng-value = "solubility.type" ng-model="currentSolubility.type" ng-click="setCurrentSolubility(currentSolubility)">
 {{solubility.type}}
</ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->



<!--Flowability Modal, I put it here because it can load -->
<script id="flowabilityModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Flowability Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(2)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
  <ion-radio ng-repeat="flowability in flowabilityList" ng-value = "flowability.type" ng-model="currentFlowability.type" ng-click="setCurrentFlowability(currentFlowability)">
        {{flowability.type}}
  </ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->

<!--SolidState Modal, I put it here because it can load -->
<script id="solidstateModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Solid State Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(3)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="solidstate in solidstateList" ng-value = "solidstate.type" ng-model="currentSolidState.type" ng-click="setCurrentSolidState(currentSolidState)">
    {{solidstate.type}}
</ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->

<!--Hygroscopity Modal, I put it here because it can load -->
<script id="hygroscopityModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Hygroscopity Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(4)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="hygroscopity in hygroscopityList" ng-value = "hygroscopity.type" ng-model="currentHygroscopity.type" ng-click="setCurrentHygroscopity(currentHygroscopity)">
    {{hygroscopity.type}}
</ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->

<!--Particle Modal, I put it here because it can load -->
<script id="particleSizeModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Particle Size Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(5)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="particleSize in particleSizeList" ng-value = "particleSize.type" ng-model="currentParticleSize.type" ng-click="setCurrentPartcleSize(currentParticleSize)">
      {{particleSize.type}}
</ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->

<!--Alcohol Modal, I put it here because it can load -->
<script id="alcoholModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Alcohol Solution Selection</h1>
  <button class="button  button-icon icon ion-close-round" ng-click="hideModal(6)"></button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="alcohol in alcoholList" ng-value = "alcohol.type" ng-model="currentAlcohol.type" ng-click="setCurrentAlcohol(currentAlcohol)">
      {{alcohol.type}}
 </ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>
<!---->
    </ion-content>
</ion-view>
