<ion-view title="Drug Formulation List ">
    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchReformulationHistory">
        </label>
        <button ng-click="clearfilter()" class="button button-clear icon ion-close-circled" ></button>
    </ion-header-bar>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>
        <div class="list list-inset">
            <ion-radio ng-repeat=" (key,value) in reformulationHistories | filter:searchReformulationHistory" ng-click="setSelectedSubstance(value)">
                <div ng-show="substances.length == 0">
                    There are no the substance in the database. Please create a new substance.
                </div>
                <div ng-show="substances.length > 0">
                    <h2>{{value.name}}</h2>
                    <p>{{value.waterSolubility}},{{value.pka}}</p>
                </div>
            </ion-radio>
        </div>
    </ion-content>
</ion-view>