<ion-view title = "Add Excipient">
<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false">
      </button>
    </ion-nav-buttons>
<ion-nav-buttons side="right">
     <button class="button button-icon icon ion-ios7-plus-outline"
          ng-click="openModal(5)">
        </button>
    </ion-nav-buttons>
    <ion-content>

      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      
      <ion-list show-delete="data.showDelete">

        <ion-item ng-repeat="excipient in excipientInlist track by $index" 
                  item="excipient"
                  href="#/item/{{excipient}}">
          	 Excipient Name : {{excipient.substance.name}}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="deleteSubstanceFnInList(substanceFn)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>

        </ion-item>
        <div class="padding" ng-show = "excipientInlist.length > 0">
            <button type="submit" ui-sref="base.formulationContent.addFormulation" class="button button-block button-positive">Finish</button>
        </div>
      </ion-list>

  <script id="excipientModal.html" type="text/ng-template">
  <ion-modal-view>
  	<ion-header-bar class="bar bar-header bar-positive">
  	<h1 class="title"></h1>
  	<button class="button button-clear button-primary" ng-click="hideModal(5)">Cancel</button>
	</ion-header-bar>
			<ion-slide-box class = "content" on-slide-changed="slideHasChanged($index)">
        <ion-slide class="has-header">
        <div class="list list-inset">
          <div class="item item-divider"> 
            SubstanceFunction Name
        </div>
        <ion-radio ng-repeat=" (key,value) in excipients " ng-value = "value.substance" ng-model = "currentExcipient.substance" name = "substance-name" ng-click = "next(key)">
              {{value.substance.name}}
        </ion-radio>
        </div>
      </ion-slide>
       <ion-slide class="has-header">
        <div class="list list-inset">
         <div class="item item-divider"> 
            SubstanceFunction Name
          </div>
         <ion-radio ng-repeat=" (key,value) in  filter(setkey).substanceFunctions track by $index" ng-value = "value" ng-model = "setSubstanceFunctions.substanceFunctions" name = "excipient-type" ng-click = "next()">
                <h3>FunctionName :{{value.functionName}} </h3>
                <h3>FunctionType :{{value.functionType}} </h3>
        </ion-radio>
        </div>
      </ion-slide>
      <ion-slide class="has-header">
      <div class="list list-inset">
        <div class="item item-divider">
              Detail
          </div>
          <h3> Substance :{{currentExcipient.substance.name}}</h3>
          <h3> SubstanceFunction :{{currentExcipient.substanceFunctions.functionName}}</h3>      
           <button class="button button-block button-positive" ng-click="addExcipientToFormulation(currentExcipient)">Create SubstanceFunction</button>
           </div>
          </ion-slide>
  </ion-slide-box>
	</ion-modal-view>
</script>

</ion-content>

</ion-view>
 