
<ion-view title="Add New Substance">
<ion-content has-header="true" has-tabs="true" padding="true" scroll="true">

<div ng-controller="substanceCtrl">
  <form ng-submit="addSubstance(substance)">

    <ion-list>
    <!--The Substance input form-->
    <label class="item item-input">
      <span class="input-label">Substance Name :</span>
      <input type="text" ng-model="substance.name">
    </label>
    <!---->

    <!-- The Solubility input form -->
    <a class="item " ng-click="openModal(1)">
      Select The Water Solubility
      <span class="item-note" ng-repeat="waterSolubility in waterSolubilities" ng-model = "substance.waterSolubility">
        <div ng-show="!!!waterSolubilities.length">
          Please Select Solubility
        </div>

        <div ng-show="waterSolubilities.length > 0">
          {{waterSolubility.type}}
        </div>
      </span>

    </a>
    <!---->

    <!-- Stability Input form -->
    <a class="item item-icon-right " ui-sref="base.addStability">
    <i class="icon ion-chevron-right"></i>
      Select the Stability
    </a>
    <!----> 
</ion-list>
<div class="padding">
  <button type="submit" class="button button-block button-positive">Create Substance</button>
</div>
</form>

</div>
<script id="solubilityModal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Water Solubility Selection</h1>
  <button class="button button-clear button-primary" ng-click="hideModal(1)">Cancel</button>
</ion-header-bar>
<ion-content class="padding">
<div class="list">
 <ion-radio ng-repeat="solubility in solubilities" ng-value = "solubility.solubility.type" ng-model="waterSolubility.type" ng-click="addWaterSolubility(waterSolubility)">
 {{solubility.type}}
</ion-radio>
</div>
</ion-content>
</ion-modal-view>
</script>

</ion-content>
</ion-view>


