<ion-view title="Substance">

    <ion-content has-tabs="true" padding="true" scroll="true">
        <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

        <ion-list list-inset>
            <a class="item item-icon-right " ui-sref="base.substanceContent.addSubstance">
                <i class="icon ion-chevron-right"></i>
                Add The Subtance
            </a>
            <a class="item item-icon-right " ui-sref="base.addStability">
                <i class="icon ion-chevron-right"></i>
                Update And Delete Substance
            </a>
            <a class="item item-icon-right " ui-sref="base.substanceContent.showAllSubstance">
                <i class="icon ion-chevron-right"></i>
                View All Substance
            </a>
        </ion-list>


    </ion-content>

</ion-view>
