<ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">

  </ion-nav-bar>

	<ion-nav-view name="substanceContent-view">

	</ion-nav-view>

<script id="substanceoption.html" type="text/ng-template">
<style>.popover { height:110px; width: 225px; }</style>
      <ion-popover-view>
          <div class="list">
           <a class="item icon ion-edit" ng-click="gotoEdit()">
               Edit Substance
           </a>
           <a class="item icon ion-trash-b" ng-click = "showConfirmForDelete()">
                 Delete Substance
          </a>
          </div>
      </ion-popover-view>
    </script>



    		
    