<ion-view title = "Add New Excipient">
 <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-chevron-left" ui-sref="base.excipientContent.menu">
       Excipient
      </button>
</ion-nav-buttons>
      <ion-content>
       <div class="list list-inset">
       		<div id="search-bar">
    			<div class="item item-input-inset">
      			<label class="item-input-wrapper" id="search-input">
        				<i class="icon ion-search placeholder-icon"></i>
        				<input type="text" placeholder="Search" ng-model="searchSubstance">
        				<button class="button button-clear" ng-click="clearfilter()">X</button>
      			</label>
    			</div>
  			</div>
      
     <ion-radio ng-repeat=" substance in substances | filter:searchSubstance" ui-sref="base.excipientContent.addSubstanceFunction" ng-value = "substance" ng-model = "excipient.substance">
       		<div ng-show="substances.length == 0">
       			There are no the substance in the database. Please create a new substance.
       		</div>

       		<div ng-show="substances.length > 0">
      				{{substance.name}}
      		</div>
    		</ion-radio>
     

</div>
      </ion-content>
</ion-view>