<ion-view title="Create a new Excipient">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-chevron-left" ui-sref="base.excipientContent.selectSubstance">
            Substance Selection
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="showConfirm(currentExcipient)">
            <div class="list list-inset">
                <div class="item">
                    <h2>Excipient Name :</h2> 
                    <p>{{currentExcipient.substance.name}}</p>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mininum Weight :</span>
                    <input type="text" placeholder="1.45" ng-model="currentExcipient.minWeight">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Maxinum Weight  :</span>
                    <input type="text" placeholder="6.78" ng-model="currentExcipient.maxWeight">
                </label>
                <a class="item" ui-sref="base.excipientContent.addSubstanceFunction">
                    Add Substance Function 
                </a>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Excipient</button>
            </div>
        </form>

    </ion-content>
</ion-view>
