<ion-view title="Add Substance Function">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-outline" ng-click="openModal(3)">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

        <ion-list show-delete="data.showDelete">

            <ion-item ng-repeat="substanceFn in currentSubstanceFnList track by $index" item="substanceFn">
                <h2>Substance Function Name :</h2> <p>{{substanceFn.functionName}}</p> <h2>Substance Function Type : </h2> <p>{{substanceFn.functionType}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteSubstanceFnInList(substanceFn)">
                </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="edit(item)">
                    Edit
                </ion-option-button>

            </ion-item>
            <div class="padding" ng-show="currentSubstanceFnList.length > 0">
                <button type="submit" ng-click="goback()" class="button button-block button-positive">Finish</button>
            </div>
        </ion-list>


  <script id="substanceFnModal.html" type="text/ng-template">
  <ion-modal-view>
  	<ion-header-bar class="bar bar-header bar-positive">
  	<h1 class="title">Create the substanceFunction</h1>
  	<button class="button button-clear button-primary" ng-click="hideModal(3)">Cancel</button>
	</ion-header-bar>
		<ion-content class="padding">
			<div class="list">
        <div class="item item-divider"> 
            SubstanceFunction Name
        </div>

        <ion-radio ng-repeat=" functionName in functionNameList" ng-value = "functionName.name" ng-model = "currentSubstanceFn.functionName" name = "substance-name">
              {{functionName.name}}
        </ion-radio>

        <div class="item item-divider"> 
            SubstanceFunction Type
        </div>

        <ion-radio ng-repeat=" (key, value) in filterFunctionType(currentSubstanceFn.functionName) " ng-value = "value.type" ng-model = "currentSubstanceFn.functionType" name="substance-type">
              {{value.type}}
        </ion-radio>

		<button class="button button-full button-positive" ng-click="addSunstanceFn(currentSubstanceFn)">Create SubstanceFunction</button>
			</div>
	</ion-content>
	</ion-modal-view>
</script>

</ion-content>

</ion-view>

 