<ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">

  </ion-nav-bar>

	<ion-nav-view name="excipientContent-view">

	</ion-nav-view>


<!-- Excipient Option Modal.The Option is "Update Excipient" or "Delete Excipient" -->
<script id="excipientoption.html" type="text/ng-template">
<style>.popover { height:110px; width: 225px; }</style>
      <ion-popover-view>
          <div class="list">
           <a class="item icon ion-edit" ng-click="goEditExcipient()">
                Update Excipient
           </a>
           <a class="item icon ion-trash-b" ng-click = "showConfirmForDelete()">
                 Delete Excipient
          </a>
          </div>
      </ion-popover-view>
    </script>

<!-- Substance Function Modal. The user must select substance function, max weight and min weight-->
<script id="substanceFunctionModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title"></h1>
      <button class="button button-clear button-primary" ng-click="hideModal(5)">Cancel</button>
    </ion-header-bar>
      <ion-slide-box class = "content" on-slide-changed="slideHasChanged($index)" slide-interval="8000">
        <ion-slide>
        <ion-content class="content-stable">
          <ion-list>
            <div class="item item-divider"> 
              SubstanceFunction Type
            </div>
            <ion-radio ng-repeat="functionName in functionNameList" ng-value = "functionName.name" ng-model = "currentSubstanceFn.functionName" name = "substanceFn-name" ng-click = "nextFormulationType(key)">
                {{functionName.name}}
            </ion-radio>
          </ion-list>
        </ion-content> 
      </ion-slide>

       <ion-slide>
          <ion-content>
              <ion-list>
              <div class="item item-divider">
                  SubstanceFunction Name
              </div>

              <ion-radio ng-repeat=" (key, value) in filterFunctionType(currentSubstanceFn.functionName) " ng-value = "value.type" ng-model = "currentSubstanceFn.functionType" name="substance-type">
              {{value.type}}
              </ion-radio>
              
              </ion-list>
          </ion-content>
      </ion-slide>
  </ion-slide-box>
  </ion-modal-view>
</script>


 